.order-detail-container {
  max-width: 800px;
  margin: 20px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.order-summary {
  margin-bottom: 20px;
}

.order-summary h1 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

.order-summary p {
  font-size: 18px;
  margin: 5px 0;
  color: #666;
}

.ordered-items h2 {
  font-size: 22px;
  margin-bottom: 20px;
  color: #333;
}

.ordered-items tbody tr {
  border-top: 1px solid #b2b1b1;
}
